# STRINGS  python format

In [1]:
name= input("Enter your name")
age= int(input ("Enter your age"))
txt='My name is {}, age is {}'
print(txt.format(name,age))

Enter your namea
Enter your age2
My name is a, age is 2

# LIST

In [19]:
list1 = ['a','b','c']
list2 = [1,2,3]
list3 = [True,False]
list4 = ['a','b',1,2,True]

In [20]:
print(list1)
print(list2)
print(list3)
print(list4)

['a', 'b', 'c']
[1, 2, 3]
[True, False]
['a', 'b', 1, 2, True]

In [21]:
print(len(list1)) ### length of the list

3

In [22]:
print(list1[0]) # first element of the list 1

a

In [23]:
# list is changeable

In [24]:
list1[0] = "A"
print(list1)

['A', 'b', 'c']

In [25]:
list2[1:]=['B', 'C']
print(list1)

['A', 'b', 'c']

In [26]:
# to add items in a list
list4=list1+list2
list4

['A', 'b', 'c', 1, 'B', 'C']

In [27]:
list1.append("e")
print(list1)

['A', 'b', 'c', 'e']

In [28]:
list1.extend(list2)
print(list1)

['A', 'b', 'c', 'e', 1, 'B', 'C']

In [29]:
list1.remove('C')
print(list1)

['A', 'b', 'c', 'e', 1, 'B']

In [30]:
list1.pop(0)
list1

['b', 'c', 'e', 1, 'B']

In [31]:
list1.pop()
list1

['b', 'c', 'e', 1]

In [32]:
del list1

In [33]:
list2.insert(0,"a")
list2

['a', 1, 'B', 'C']

In [34]:
del list2[0]
print(list2)

[1, 'B', 'C']

In [35]:
list2.clear()
print(list2)

[]

# TUPLE

In [43]:
a=('a','b',1,2)
a1=(1,2,3,4)
b=list(a)
c=list(a1)
print(a)
print(a1)
print(b)
print(c)

('a', 'b', 1, 2)
(1, 2, 3, 4)
['a', 'b', 1, 2]
[1, 2, 3, 4]

In [42]:
b[0]= 'A'
print(b)

['A', 'b', 1, 2]

In [44]:
print(b+c)

['a', 'b', 1, 2, 1, 2, 3, 4]

In [45]:
print(type(a))

<class 'tuple'>

In [46]:
print(type(b))

<class 'list'>

In [47]:
tuple(b)

('a', 'b', 1, 2)

In [48]:
print(a+a1)

('a', 'b', 1, 2, 1, 2, 3, 4)